version: "3.9"

services:
  # -------------------------
  # MongoDB (Shared)
  # -------------------------
  mongo:
    image: mongo:6
    container_name: mongo
    restart: always
    volumes:
      - mongo-data:/data/db
    ports:
      - "27017:27017"
    networks:
      - mern-net

  # -------------------------
  # User Service
  # -------------------------
  user-service:
    build: ./User
    image: userimg
    container_name: user-service
    env_file:
      - ./env/user.env
    depends_on:
      - mongo
    ports:
      - "9001:9001"
    networks:
      - mern-net

  # -------------------------
  # Product Service
  # -------------------------
  product-service:
    build: ./Product
    image: productimg
    container_name: product-service
    env_file:
      - ./env/product.env
    depends_on:
      - mongo
    ports:
      - "9000:9000"
    networks:
      - mern-net

  # -------------------------
  # Cart Service
  # -------------------------
  cart-service:
    build: ./Cart
    image: cartimg
    container_name: cart-service
    env_file:
      - ./env/cart.env
    depends_on:
      - mongo
    ports:
      - "9003:9003"
    networks:
      - mern-net

  # -------------------------
  # Frontend (React + Nginx)
  # -------------------------
  frontend-service:
    build: ./front-end
    image: frontendimg
    container_name: frontend-service
    depends_on:
      - user-service
      - product-service
      - cart-service
    ports:
      - "80:80"
    networks:
      - mern-net

# -------------------------
# Volumes
# -------------------------
volumes:
  mongo-data:

# -------------------------
# Network
# -------------------------
networks:
  mern-net:
    driver: bridge
